.form {
position: absolute;
    margin: 0%;
}

.uvi, .forecast {
color: white;
    }

.forecastDiv {
border-radius:  15px;
}

#cities {
    cursor: pointer;
    margin-top: 10%;
    line-height: 300%;
    }
